@import '~antd/lib/style/themes/default.less';

@gray-text: #595959;

.leaflet-container {
  width: 100wh;
  height: 100vh;
}

.leaflet-grab {
  cursor: crosshair;
}

.tolu-path-pane {
  z-index: 550;
}

.leaflet-popup-content {
  margin: 8px;
}

.leaflet-popup-content-wrapper {
  border-radius: initial;
  background-color: @layout-header-background;
  color: @gray-text;
}

.leaflet-popup-tip {
  background-color: @layout-header-background;
}

.leaflet-container a.leaflet-popup-close-button,
.leaflet-container a {
  color: @text-color-secondary-dark;
}

.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a:hover {
  color: @white;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 8px;
  right: 6px;
  padding: initial;
}

.tolu-text-disabled {
  color: @gray-text;
}

.tolu-popup-actions {
  padding-top: 8px;
  border-top: solid 1px @gray-text;
}
