.logo {
  padding: 16px;
  border-bottom: solid 1px #595959;
}

.site-layout-background {
  background: #fff;
}

.ant-menu-submenu-inline .tolu-settings-slider-parent .ant-menu-title-content {
  padding: 0 6px;
}

.ant-layout-sider-children {
  height: auto;
}
